# Segmenting and Clustering Neighborhoods in Toronto

###### Q1 Importing the libraries

In [1]:
import pandas as pd
import numpy as np

###### Q2 Importing the file from Wikipedia

In [2]:
data, = pd.read_html("https://en.wikipedia.org/wiki/List_of_postal_codes_of_Canada:_M", match="Postcode", skiprows=1)
data.columns = ["PostalCode", "Borough", "Neighborhood"]
data.head()

  PostalCode           Borough      Neighborhood
0        M2A      Not assigned      Not assigned
1        M3A        North York         Parkwoods
2        M4A        North York  Victoria Village
3        M5A  Downtown Toronto      Harbourfront
4        M6A        North York  Lawrence Heights

###### Q3

Only process the cells that have an assigned borough. Ignore cells with a borough that is Not assigned.

In [3]:
data = data[data['Borough'] != "Not assigned"]
data.head()

  PostalCode           Borough      Neighborhood
1        M3A        North York         Parkwoods
2        M4A        North York  Victoria Village
3        M5A  Downtown Toronto      Harbourfront
4        M6A        North York  Lawrence Heights
5        M6A        North York    Lawrence Manor

Combining rows by the PostalCode with the Neighborhoods separated with a comma

In [5]:
data=data.groupby("PostalCode").agg(lambda x:','.join(set(x)))
data.head()

                Borough                          Neighborhood
PostalCode
M1B         Scarborough                         Rouge,Malvern
M1C         Scarborough  Highland Creek,Rouge Hill,Port Union
M1E         Scarborough       Guildwood,Morningside,West Hill
M1G         Scarborough                                Woburn
M1H         Scarborough                             Cedarbrae

If a cell has a borough but a Not assigned neighborhood, then the neighborhood will be the same as the borough

In [9]:
data.loc[data['Neighborhood']=="Not assigned",'Neighborhood']=data.loc[data['Neighborhood']=="Not assigned",'Borough']
data.head()

                Borough                          Neighborhood
PostalCode
M1B         Scarborough                         Rouge,Malvern
M1C         Scarborough  Highland Creek,Rouge Hill,Port Union
M1E         Scarborough       Guildwood,Morningside,West Hill
M1G         Scarborough                                Woburn
M1H         Scarborough                             Cedarbrae

Displaying the number of rows

In [10]:
data.shape

(103, 2)